.menu {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  background-color: rgb(121, 162, 79);
  padding: 1rem;
}
.navitem {
  list-style: none;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.menu .navitem:hover {
  color: aqua;
}
.navbar-text {
  align-content: end;
}
