.menu {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  background-color: rgb(60, 121, 130);
  padding: 1rem;
}
.navitem {
  list-style: none;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: 300;
}
.menu .navitem:hover {
  color: rgb(202, 222, 19);
  font-weight: bold;
}
.navbar-text {
  align-content: end;
}
