.toolbar {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.search {
  background: transparent;
  border-style: inset;
  border-color: #842029;
  padding-right: 1rem;
}
.add {
  margin-left: 20px !;
}
.btn-secondary {
  border-radius: 50%;
}
